<%- include('../includes/head.ejs') %>
    <title><%= title %></title>
</head>
<body>
  <%- include('../includes/nav.ejs') %>

    <main>
      <div class="row row-cols-1 row-cols-md-3" style="margin-left: 6%; margin-top: 5%;">
        <% prods.forEach(item => { %>
        <div class="col mb-4">
            <div class="card text-dark bg-light" style="width: 20rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="<%= item.imageUrl %>">
                </div>
                  <div class="card-body">
                      <h3 class="card-title" style="text-align: center;"><%= item.title %></h3>
                      <h5 class="card-title" style="text-align: center;"><%= item.price %></h5>
                      <div class='text-center'>
                        <a href="/admin/edit-prod/<%= item._id %>?edit=true" class='btn btn-outline-info'>Edit</a>
                        <form action="/admin/delete-prod" method="POST"><br>
                          <input type="hidden" value="<%= item._id %>" name="productId">
                          <button class='btn btn-outline-danger'>Delete</button>
                        </form>  
                      </div>
                  </div>
            </div>
        </div>
        <% });%>
    </div> 
    </main>

</body>
</html>