<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/nav.ejs') %>
        <main>
            <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-8" >

      <!-- Card -->
      <% if (products.length > 0) { %>
        <% products.forEach(p => { %>
            <div class="mb-3" style="margin-left: 10%; margin-top: 4%; border: 2px solid salmon; border-radius: 5px;  box-shadow: 4px 6px grey;">
                <div class="pt-4 wish-list">
                <div class="row mb-4">
                    <div class="col-md-5 col-lg-3 col-xl-3">
                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                        <img class="img-fluid w-100"
                        src="<%= p.productId.imageUrl %>" alt="Sample">
                    </div>
                    </div>
                    <div class="col-md-7 col-lg-9 col-xl-9">
                        <div>
                            <div class="d-flex justify-content-between">
                            <div>
                                <h5><%= p.productId.title %></h5>
                                <p class="mb-2 text-muted text-uppercase small"><%= p.productId.desc %></p>
                                <p class="mb-3 text-muted text-uppercase small"><%= p.productId.price %></p>
                                <form action="/cart-item-delete" method="POST">
                                    <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                    <button class="btn btn-outline-danger" type="submit">Remove from Cart</button>
                                </form>
                            </div>
                            <div>
                                <div class="def-number-input number-input safari_only mb-0 w-100" style="margin-left: -20%;">
                                    <p> Quantity: <%= p.quantity %></p>
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <% }) %>
    </div>
            <div class="centered" style="margin-left: 23%;margin-top: 2%;">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn btn-success">Place Order</button>
                </form>
            </div>
            <% } else { %>
                <h1 style="margin-left: 55%; margin-top: 20%;">No Products in Cart!</h1>
            <% } %>
  </div>
</body>