<%- include('includes/head.ejs') %>
    <title><%= title %></title>
</head>

<body style="background-color: lightgrey;">
    <%- include('includes/nav.ejs') %>
    <main>
      <% if(errorMessage) { %>
      <div class="alert alert-danger" role="alert">
        <h7 style="margin-left: 45%;"><%= errorMessage %></h7>      
      </div>
      <% } %>
        <form action="/login" method="POST">
            <div class="col">
              <div class="col">
                <input type="text" name='email' class="form-control" placeholder="Email" style="width: 20rem; margin-left: 37%; margin-top: 10%;">
              </div><br>
              <div class="col">
                <input type="password" name='pw' class="form-control" placeholder="Password" style="width: 20rem; margin-left: 37%;">
              </div>
              <button class='btn btn-danger' type="submit" style="width: 5rem; margin-left: 46%; margin-top: 2%;">Login</button>
            </div>
          </form>
    </main>
    <div style="margin-top: 10%;">
      <%- include('includes/footer.ejs') %>
    </div>
    
</body>