<%- include('includes/head.ejs') %>
    <title><%= pageTitle %></title>
</head>

<body style="background-color: lightgrey; background-size: cover;">
    <%- include('includes/nav.ejs') %>
    <main>
        <form action="/search" method="POST">
            <div class="form-outline">
                <input class="form-control" style="margin-top: 4%; max-width: 30%;margin-left: 33%; " type="text" name='search'>
                <button class='fas fa-search btn' style="margin-top: -4.5%; margin-left: 60%;" type="submit"></button>
              </div>
        </form>   
        <div class="row row-cols-1 row-cols-md-3" style="margin-left: 6%; margin-top: 2%;">  
            <% if (products.length !== 0) { %>
                <% products.forEach(item => { %>
                    <div class="col mb-4" >
                        <div class="card text-dark" style="width: 20rem;margin-top: 10%; margin-left: -10%;">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="card-img-top embed-responsive-item" src="<%= item.imageUrl %>">
                            </div>
                              <div class="card-body">
                                  <h3 class="card-title" style="text-align: center; text-transform: capitalize;"><%= item.title %></h3>
                                  <h5 class="card-title" style="text-align: center;"><%= item.price %></h5>
                                  <div class='text-center'>
                                    <a href="/products/<%= item._id %>" class='btn btn-outline-info'>Details</a>
                                    <% if (isAuthenticated) { %>
                                    <form action="/cart" method="POST"><br>
                                      <button class='btn btn-outline-success'>Add to Cart</button>
                                      <input type="hidden" name='productId' value='<%= item._id %>'>
                                    </form>
                                    <% } %>
                                  </div>
                              </div>
                        </div>
                    </div>
                <% });%>
            <% } else { %>
                  <h1 style="margin-left: 36%; margin-top: 4%;">Go on, Search.</h1>  
            <% } %>
            
        </div>
    </main>
</body>