<%- include('includes/head.ejs') %>
    <title><%= title %></title>
    <style>
    body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
      </style>
</head>
<body>
  <%- include('includes/nav.ejs') %>

    <main>
      <div class="row row-cols-1 row-cols-md-3" style="margin-left: 6%; margin-top: 5%;">
        <% prods.forEach(item => { %>
        <div class="col mb-4">
            <div class="card text-dark bg-light" style="width: 20rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item border border-dark" src="<%= item.imageUrl %>">
                </div>
                  <div class="card-body border border-success">
                      <h3 class="card-title" style="text-align: center; text-transform: capitalize;"><%= item.title %></h3>
                      <h5 class="card-title" style="text-align: center;">£<%= item.price %></h5>
                      <div class='text-center'>
                        <a href="/products/<%= item._id %>" class='btn btn-outline-info'>Details</a>
                        <% if (isAuthenticated) { %>
                        <form action="/cart" method="POST"><br>
                          <button class='btn btn-outline-success'>Add to Cart</button>
                          <input type="hidden" name='productId' value='<%= item._id %>'>
                        </form>
                        <% } %>
                      </div>
                  </div>
            </div>
        </div>
        <% });%>
    </div>

      <section style="margin-left: 48%;">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if(currentPage !== 1 && previousPage !== 1) { %>
              <li class="page-item"><a class="page-link" href="/products?page=1">1</a></li>
            <% } %>
            <% if(hasPreviousPage) { %>
              <li class="page-item"><a class="page-link" href="/products?page=<%= previousPage %>"><%= previousPage %></a></li>
            <% } %>
              <li class="page-item active"><a class="page-link" href="/products?page=<%= currentPage %>"><%= currentPage %></a></li>
            <% if(hasNextPage) { %>
              <li class="page-item"><a class="page-link" href="/products?page=<%= nextPage %>"><%= nextPage %></a></li>
            <% } %>
            <% if(lastPage !== currentPage && nextPage !== lastPage) { %>
              <li class="page-item"><a class="page-link" href="/products?page=<%= lastPage %>"><%= lastPage %></a></li>
            <% } %>
          </ul>
        </nav>
      </section>
    </main>
    <%- include('includes/footer.ejs') %>
</body>
</html>